<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-maket.html">
<body>

<div layout:fragment="other_page">
    <div class="running-string">
        <button class="btn btn-success btn-sm">ABOUT CARS</button>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>MODEL</th>
            <th>COUNTRY</th>
            <th>CITY</th>
            <th>ENGINE</th>
            <th>COST</th>
            <th>YEAR</th>
            <th style="width: 14%">DELETE CAR</th>
            <th style="width: 8%">DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.country}"></td>
            <td th:text="${car.city.name + '/' + car.city.code}"></td>
            <td th:text="${car.engine}"></td>
            <td th:text="${car.cost}"></td>
            <td th:text="${car.year}"></td>
            <form action="/delete-car" method="post">
                <input type="hidden" name="id" th:value="${car.id}">
                <td> <button class="btn btn-sm btn-danger" type="submit">DELETE CAR</button> </td>
            </form>
            <td><a class="btn btn-sm btn-secondary" th:href="@{'/get-car/' + ${car.id}}">DETAILS</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>