<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-maket.html">
<body>
<div layout:fragment="other_page">
            <form action="/update-car" method="post">
                <input type="hidden" name="id" th:value="${car.id}">
                <div class="row mt-2">
                    <div class="col-12">
                        <label>MODEL NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="model" th:value="${car.model}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>COUNTRY:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="country" th:value="${car.country}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>ENGINE:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="engine" th:value="${car.engine}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>COST:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" name="cost" th:value="${car.cost}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <label>YEAR:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="number" class="form-control" name="year" th:value="${car.year}">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button class="btn btn-success btn-sm">UPDATE CAR</button>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>